#T_7de4b_ tr:nth-child(even) {
  background-color: #ececec;
}
#T_7de4b_ tbody tr:hover {
  background-color: #d9edfd;
}
#T_7de4b_ thead tr:not(:last-child) .index_name {
  visibility: hidden;
}
#T_7de4b_ thead tr:nth-child(3) {
  display: none;
}
#T_7de4b_ tbody td {
  padding: 2px 5px 2px 15px;
  text-align: right;
}
#T_7de4b_ th {
  padding: 2px 5px 2px 5px;
  text-align: center;
}
#T_7de4b_ th {
  border-top: none;
  border-bottom: none;
  border-radius: 0px;
}
#T_7de4b_  td {
  border-top: none;
  border-bottom: none;
  border-radius: 0px;
}
#T_7de4b_  tr {
  border-top: none;
  border-bottom: none;
  border-radius: 0px;
}
#T_7de4b_ thead tr:first-child th:not(:last-child) {
  border-right: 1px solid #888888;
}
#T_7de4b_  th:nth-child(odd):not(:last-child) {
  border-right: 1px solid #888888;
}
#T_7de4b_  td:nth-child(odd):not(:last-child) {
  border-right: 1px solid #888888;
}
#T_7de4b_  {
  border-collapse: collapse;
}
#T_7de4b_row0_col0, #T_7de4b_row0_col1, #T_7de4b_row0_col2, #T_7de4b_row0_col3, #T_7de4b_row1_col0, #T_7de4b_row1_col1, #T_7de4b_row1_col2, #T_7de4b_row1_col3, #T_7de4b_row2_col0, #T_7de4b_row2_col2, #T_7de4b_row2_col3, #T_7de4b_row3_col0, #T_7de4b_row3_col2, #T_7de4b_row3_col3, #T_7de4b_row4_col2, #T_7de4b_row4_col3, #T_7de4b_row5_col2, #T_7de4b_row5_col3, #T_7de4b_row6_col0, #T_7de4b_row6_col2, #T_7de4b_row7_col0, #T_7de4b_row7_col2, #T_7de4b_row8_col0, #T_7de4b_row8_col1, #T_7de4b_row8_col2, #T_7de4b_row10_col0, #T_7de4b_row10_col2, #T_7de4b_row11_col0, #T_7de4b_row11_col2, #T_7de4b_row12_col0, #T_7de4b_row12_col2, #T_7de4b_row15_col0, #T_7de4b_row15_col2, #T_7de4b_row16_col0, #T_7de4b_row16_col2, #T_7de4b_row17_col0, #T_7de4b_row17_col2, #T_7de4b_row18_col0, #T_7de4b_row18_col2, #T_7de4b_row19_col0, #T_7de4b_row19_col2, #T_7de4b_row20_col0, #T_7de4b_row20_col2, #T_7de4b_row21_col0, #T_7de4b_row21_col2 {
  background-color: #829cc3;
  color: #f1f1f1;
}
#T_7de4b_row2_col1, #T_7de4b_row6_col1, #T_7de4b_row6_col3, #T_7de4b_row9_col0, #T_7de4b_row9_col1, #T_7de4b_row10_col1, #T_7de4b_row11_col1 {
  background-color: #839dc4;
  color: #f1f1f1;
}
#T_7de4b_row3_col1, #T_7de4b_row4_col0, #T_7de4b_row4_col1, #T_7de4b_row5_col0, #T_7de4b_row5_col1, #T_7de4b_row7_col1, #T_7de4b_row7_col3, #T_7de4b_row12_col3, #T_7de4b_row13_col0, #T_7de4b_row13_col1, #T_7de4b_row14_col2 {
  background-color: #859ec4;
  color: #f1f1f1;
}
#T_7de4b_row8_col3, #T_7de4b_row9_col2, #T_7de4b_row9_col3, #T_7de4b_row10_col3, #T_7de4b_row11_col3, #T_7de4b_row12_col1, #T_7de4b_row13_col2, #T_7de4b_row13_col3, #T_7de4b_row14_col0, #T_7de4b_row14_col1, #T_7de4b_row14_col3, #T_7de4b_row15_col1, #T_7de4b_row15_col3, #T_7de4b_row16_col1, #T_7de4b_row16_col3, #T_7de4b_row17_col1, #T_7de4b_row17_col3, #T_7de4b_row18_col1, #T_7de4b_row18_col3, #T_7de4b_row19_col1, #T_7de4b_row19_col3, #T_7de4b_row20_col1, #T_7de4b_row20_col3, #T_7de4b_row21_col1, #T_7de4b_row21_col3 {
  background-color: #c97f7d;
  color: #f1f1f1;
}
</style>
<table id="T_7de4b_">
  <thead>
    <tr>
      <th class="index_name level0" >Fuzzer</th>
      <th class="col_heading level0 col0" colspan="2">domfuzz</th>
      <th class="col_heading level0 col2" colspan="2">domfuzzone</th>
    </tr>
    <tr>
      <th class="index_name level1" >Metric</th>
      <th class="col_heading level1 col0" >R</th>
      <th class="col_heading level1 col1" >T</th>
      <th class="col_heading level1 col2" >R</th>
      <th class="col_heading level1 col3" >T</th>
    </tr>
    <tr>
      <th class="index_name level0" >Bug ID</th>
      <th class="blank col0" >&nbsp;</th>
      <th class="blank col1" >&nbsp;</th>
      <th class="blank col2" >&nbsp;</th>
      <th class="blank col3" >&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th id="T_7de4b_level0_row0" class="row_heading level0 row0" >TIF007</th>
      <td id="T_7de4b_row0_col0" class="data row0 col0" >8m</td>
      <td id="T_7de4b_row0_col1" class="data row0 col1" >12m</td>
      <td id="T_7de4b_row0_col2" class="data row0 col2" >30s</td>
      <td id="T_7de4b_row0_col3" class="data row0 col3" >1m</td>
    </tr>
    <tr>
      <th id="T_7de4b_level0_row1" class="row_heading level0 row1" >XML017</th>
      <td id="T_7de4b_row1_col0" class="data row1 col0" >14m</td>
      <td id="T_7de4b_row1_col1" class="data row1 col1" >18m</td>
      <td id="T_7de4b_row1_col2" class="data row1 col2" >1m</td>
      <td id="T_7de4b_row1_col3" class="data row1 col3" >2m</td>
    </tr>
    <tr>
      <th id="T_7de4b_level0_row2" class="row_heading level0 row2" >SND001</th>
      <td id="T_7de4b_row2_col0" class="data row2 col0" >6m</td>
      <td id="T_7de4b_row2_col1" class="data row2 col1" >1h</td>
      <td id="T_7de4b_row2_col2" class="data row2 col2" >1m</td>
      <td id="T_7de4b_row2_col3" class="data row2 col3" >3m</td>
    </tr>
    <tr>
      <th id="T_7de4b_level0_row3" class="row_heading level0 row3" >SND005</th>
      <td id="T_7de4b_row3_col0" class="data row3 col0" >6m</td>
      <td id="T_7de4b_row3_col1" class="data row3 col1" >2h</td>
      <td id="T_7de4b_row3_col2" class="data row3 col2" >1m</td>
      <td id="T_7de4b_row3_col3" class="data row3 col3" >2m</td>
    </tr>
    <tr>
      <th id="T_7de4b_level0_row4" class="row_heading level0 row4" >TIF005</th>
      <td id="T_7de4b_row4_col0" class="data row4 col0" >2h</td>
      <td id="T_7de4b_row4_col1" class="data row4 col1" >2h</td>
      <td id="T_7de4b_row4_col2" class="data row4 col2" >23m</td>
      <td id="T_7de4b_row4_col3" class="data row4 col3" >23m</td>
    </tr>
    <tr>
      <th id="T_7de4b_level0_row5" class="row_heading level0 row5" >TIF006</th>
      <td id="T_7de4b_row5_col0" class="data row5 col0" >2h</td>
      <td id="T_7de4b_row5_col1" class="data row5 col1" >2h</td>
      <td id="T_7de4b_row5_col2" class="data row5 col2" >23m</td>
      <td id="T_7de4b_row5_col3" class="data row5 col3" >23m</td>
    </tr>
    <tr>
      <th id="T_7de4b_level0_row6" class="row_heading level0 row6" >SND007</th>
      <td id="T_7de4b_row6_col0" class="data row6 col0" >5m</td>
      <td id="T_7de4b_row6_col1" class="data row6 col1" >1h</td>
      <td id="T_7de4b_row6_col2" class="data row6 col2" >55s</td>
      <td id="T_7de4b_row6_col3" class="data row6 col3" >1h</td>
    </tr>
    <tr>
      <th id="T_7de4b_level0_row7" class="row_heading level0 row7" >XML009</th>
      <td id="T_7de4b_row7_col0" class="data row7 col0" >14m</td>
      <td id="T_7de4b_row7_col1" class="data row7 col1" >2h</td>
      <td id="T_7de4b_row7_col2" class="data row7 col2" >1m</td>
      <td id="T_7de4b_row7_col3" class="data row7 col3" >2h</td>
    </tr>
    <tr>
      <th id="T_7de4b_level0_row8" class="row_heading level0 row8" >TIF014</th>
      <td id="T_7de4b_row8_col0" class="data row8 col0" >8m</td>
      <td id="T_7de4b_row8_col1" class="data row8 col1" >25m</td>
      <td id="T_7de4b_row8_col2" class="data row8 col2" >30s</td>
      <td id="T_7de4b_row8_col3" class="data row8 col3" >1w</td>
    </tr>
    <tr>
      <th id="T_7de4b_level0_row9" class="row_heading level0 row9" >SND017</th>
      <td id="T_7de4b_row9_col0" class="data row9 col0" >1h</td>
      <td id="T_7de4b_row9_col1" class="data row9 col1" >1h</td>
      <td id="T_7de4b_row9_col2" class="data row9 col2" >1w</td>
      <td id="T_7de4b_row9_col3" class="data row9 col3" >1w</td>
    </tr>
    <tr>
      <th id="T_7de4b_level0_row10" class="row_heading level0 row10" >SND024</th>
      <td id="T_7de4b_row10_col0" class="data row10 col0" >5m</td>
      <td id="T_7de4b_row10_col1" class="data row10 col1" >1h</td>
      <td id="T_7de4b_row10_col2" class="data row10 col2" >55s</td>
      <td id="T_7de4b_row10_col3" class="data row10 col3" >1w</td>
    </tr>
    <tr>
      <th id="T_7de4b_level0_row11" class="row_heading level0 row11" >SND006</th>
      <td id="T_7de4b_row11_col0" class="data row11 col0" >5m</td>
      <td id="T_7de4b_row11_col1" class="data row11 col1" >1h</td>
      <td id="T_7de4b_row11_col2" class="data row11 col2" >55s</td>
      <td id="T_7de4b_row11_col3" class="data row11 col3" >1w</td>
    </tr>
    <tr>
      <th id="T_7de4b_level0_row12" class="row_heading level0 row12" >TIF012</th>
      <td id="T_7de4b_row12_col0" class="data row12 col0" >8m</td>
      <td id="T_7de4b_row12_col1" class="data row12 col1" >1w</td>
      <td id="T_7de4b_row12_col2" class="data row12 col2" >30s</td>
      <td id="T_7de4b_row12_col3" class="data row12 col3" >2h</td>
    </tr>
    <tr>
      <th id="T_7de4b_level0_row13" class="row_heading level0 row13" >TIF009</th>
      <td id="T_7de4b_row13_col0" class="data row13 col0" >2h</td>
      <td id="T_7de4b_row13_col1" class="data row13 col1" >2h</td>
      <td id="T_7de4b_row13_col2" class="data row13 col2" >1w</td>
      <td id="T_7de4b_row13_col3" class="data row13 col3" >1w</td>
    </tr>
    <tr>
      <th id="T_7de4b_level0_row14" class="row_heading level0 row14" >TIF010</th>
      <td id="T_7de4b_row14_col0" class="data row14 col0" >1w</td>
      <td id="T_7de4b_row14_col1" class="data row14 col1" >1w</td>
      <td id="T_7de4b_row14_col2" class="data row14 col2" >2h</td>
      <td id="T_7de4b_row14_col3" class="data row14 col3" >1w</td>
    </tr>
    <tr>
      <th id="T_7de4b_level0_row15" class="row_heading level0 row15" >TIF003</th>
      <td id="T_7de4b_row15_col0" class="data row15 col0" >8m</td>
      <td id="T_7de4b_row15_col1" class="data row15 col1" >1w</td>
      <td id="T_7de4b_row15_col2" class="data row15 col2" >25s</td>
      <td id="T_7de4b_row15_col3" class="data row15 col3" >1w</td>
    </tr>
    <tr>
      <th id="T_7de4b_level0_row16" class="row_heading level0 row16" >XML001</th>
      <td id="T_7de4b_row16_col0" class="data row16 col0" >15m</td>
      <td id="T_7de4b_row16_col1" class="data row16 col1" >1w</td>
      <td id="T_7de4b_row16_col2" class="data row16 col2" >2m</td>
      <td id="T_7de4b_row16_col3" class="data row16 col3" >1w</td>
    </tr>
    <tr>
      <th id="T_7de4b_level0_row17" class="row_heading level0 row17" >XML003</th>
      <td id="T_7de4b_row17_col0" class="data row17 col0" >14m</td>
      <td id="T_7de4b_row17_col1" class="data row17 col1" >1w</td>
      <td id="T_7de4b_row17_col2" class="data row17 col2" >1m</td>
      <td id="T_7de4b_row17_col3" class="data row17 col3" >1w</td>
    </tr>
    <tr>
      <th id="T_7de4b_level0_row18" class="row_heading level0 row18" >XML006</th>
      <td id="T_7de4b_row18_col0" class="data row18 col0" >15m</td>
      <td id="T_7de4b_row18_col1" class="data row18 col1" >1w</td>
      <td id="T_7de4b_row18_col2" class="data row18 col2" >2m</td>
      <td id="T_7de4b_row18_col3" class="data row18 col3" >1w</td>
    </tr>
    <tr>
      <th id="T_7de4b_level0_row19" class="row_heading level0 row19" >XML008</th>
      <td id="T_7de4b_row19_col0" class="data row19 col0" >17m</td>
      <td id="T_7de4b_row19_col1" class="data row19 col1" >1w</td>
      <td id="T_7de4b_row19_col2" class="data row19 col2" >3m</td>
      <td id="T_7de4b_row19_col3" class="data row19 col3" >1w</td>
    </tr>
    <tr>
      <th id="T_7de4b_level0_row20" class="row_heading level0 row20" >SND016</th>
      <td id="T_7de4b_row20_col0" class="data row20 col0" >5m</td>
      <td id="T_7de4b_row20_col1" class="data row20 col1" >1w</td>
      <td id="T_7de4b_row20_col2" class="data row20 col2" >40s</td>
      <td id="T_7de4b_row20_col3" class="data row20 col3" >1w</td>
    </tr>
    <tr>
      <th id="T_7de4b_level0_row21" class="row_heading level0 row21" >XML012</th>
      <td id="T_7de4b_row21_col0" class="data row21 col0" >14m</td>
      <td id="T_7de4b_row21_col1" class="data row21 col1" >1w</td>
      <td id="T_7de4b_row21_col2" class="data row21 col2" >1m</td>
      <td id="T_7de4b_row21_col3" class="data row21 col3" >1w</td>
    </tr>
  </tbody>
</table>}